.app-container{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start ;
  align-items: center;
}

.recommend-container{
  margin: 30px 20px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.chosen-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
}

#searchbar {
  margin-bottom: 25px;
  width: 350px;
  height: 35px;
  font-size: 16px;
  padding: 0 10px;
}

.nav-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.searchbar-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selected-search-type{
  background-color: #213547;
  color: #f9f9f9;
}

.search-type-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.search-results-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  /* overflow: scroll; */
}